@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('League Spartan'), url(LeagueSpartan.woff2) format('woff2'), url(LeagueSpartan.woff) format('woff');
}
